<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="/static/img/logo.png" alt="Albumate Logo" class="logo" />
      <h2 class="auth-title">로그인</h2>
      <input type="text" id="username" placeholder="이메일" /><br />
      <input type="password" id="password" placeholder="비밀번호" /><br />
      <button onclick="login()">로그인</button>
      <p>회원이 아니신가요? <a href="/signup">회원가입</a></p>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
